<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planetary lander</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    
    <!-- lib css -->
    <% if(env === 'dev'){ %>
      <%- include('../partials/libs/libs-css-local.ejs'); %>
      <% } else{ %>  
        <%- include('../partials/libs/libs-css-ext.ejs'); %>
        <% } %>
    <link rel="stylesheet" href="./css/styles.css">
        
  </head>
  <body onload="init()">
    <div class="container-fluid">      
      <%- include('../partials/nav.ejs'); %>
      <!-- loader -->
      <div class="mx-auto" id="loader"><img id="loader-logo" class="rotating"src="./assets/iconkwa.png"></img></div>
      <!-- canvas -->
      <canvas class="mx-auto" id="game-canvas" width="800" height="600" style="display: none;"></canvas>
      <!-- modale register -->
      <%- include('../partials/register-form.ejs'); %>
    </div>
    <% if(min === 'no' || env === 'dev'){ %>
      <%- include('../partials/libs/libs-dev.ejs'); %>
    <% } else{ %>  
        <%- include('../partials/libs/libs-prod.ejs'); %>
    <% } %>
    
    <script>
      // using base url for links with port on local and without port online
      var baseUrl = '<%= baseUrl %>';
    </script>
    <script src="./js/index.js"></script>

    <!-- lib js -->
    <% if(env === 'dev'){ %>
      <%- include('../partials/libs/libs-js-local.ejs'); %>
    <% } else{ %>  
      <%- include('../partials/libs/libs-js-ext.ejs'); %>
    <% } %>
    
  </body>
</html>
