<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planetary lander</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    
    <% if(env === 'dev'){ %>
      <%- include('../partials/libs/libs-css-local.ejs'); %>
    <% } else{ %>  
        <%- include('../partials/libs/libs-css-ext.ejs'); %>
    <% } %>
    <link rel="stylesheet" href="./css/styles.css">

  </head>
  <body onload="init()">
    <div class="container-fluid">
      <%- include('../partials/nav.ejs'); %>
      <div class="font-karmaticArcade text-dark">High Scores</div>
      <div class="row">
        <div class="table-bg col-12">
        <table class="table bg-dark text-light" data-toggle="table" data-search="true" data-pagination="true">
          <thead>
              <tr class="rowheader">
                  <th data-sortable="true" data-field="login">Joueur</th>
                  <th data-sortable="true" data-field="score">Score Total</th>
                  <th data-sortable="true" data-field="stars">Nombre d'Etoiles</th>
              </tr>
          </thead>
          <tbody>
          <%_ stats.forEach((stat,id)=>{ _%>
            <%_ let colorClass =  ''; _%>
            <%_ colorClass = (id%2==0)?'rowdarklight': 'rowhighlight'; _%>
            <tr class="<%= colorClass %>">
              <td class=""><%= stat.login %></td>
              <%_ let scoreTotal = 0;  _%>
              <%_ let nbStars = 0;  _%>
              <%_ let progress = JSON.parse(stat.progress);_%>
              <%_ progress.worlds.forEach((world)=>{ _%>
                <%_ world.levels.forEach((level)=>{ _%>
                  <%_ scoreTotal += level.score _%>
                  <%_ level.stars.forEach((star)=>{ _%>
                    <%_ if(star) nbStars ++; _%>
                  <%_ }) _%>
                <%_ }) _%>
              <%_ }) _%>
              <td class=""><%= scoreTotal %></td>
              <td class=""><%= nbStars %></td>
            </tr>
          <%_ }) _%>
          </tbody>
      </table>
    </div>
        </div>
      <!-- modale register -->
      <%- include('../partials/register-form.ejs'); %>
    </div>
    
    

    <script>
      // using base url for links with port on local and without port online
        var baseUrl = '<%= baseUrl %>';
        function init(){
          console.log('loading stats')
        }
    </script>
    <!-- libs js -->
    <% if(env === 'dev'){ %>
      <%- include('../partials/libs/libs-js-local.ejs'); %>
    <% } else{ %>  
      <%- include('../partials/libs/libs-js-ext.ejs'); %>
    <% } %>
  </body>
</html>
